<!-- templates/registration/password_change_done.html -->
{% extends "app/base.html" %}



{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h2>Change Password</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Change Password</button>
                      </form>
                </div>
            </div>
           
        </div>
    </div>
</div>
  
  
{% endblock %}
